* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 100%;
  max-width: 420px;
  background: #fff;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

/* SETS */
.sets-wrapper {
  margin-bottom: 25px;
}

.sets-label {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: #444;
}

.sets {
  display: flex;
  justify-content: space-between;
}

.set {
  width: 48%;
  background: #000;
  color: #fff;
  border-radius: 14px;
  padding: 15px;
  text-align: center;
}

.set-title {
  font-size: 14px;
  opacity: 0.8;
}

.set-value {
  font-size: 48px;
  font-weight: bold;
}

.points-label-global {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #444;
}


/* TIMES */
.teams {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.team {
  width: 48%;
  background: #fafafa;
  border-radius: 14px;
  padding: 15px;
  text-align: center;
}

.team h2 {
  margin-bottom: 6px;
}

.points-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
  margin-bottom: 6px;
}

.score {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* BOTÕES */
button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 8px;
}

button:active {
  opacity: 0.7;
}

.add {
  background: #000;
  color: #fff;
}

.remove {
  background: #dcdcdc;
}

.reset {
  background: #e53935;
  color: #fff;
}